data/
results/
.DS_Store
testing/
testing*
*.pyc
null/
.lineage/
GC_files/
configs/
null/
metadata/
results/
*.sam
*.bam
*.fasta
*.fa
*.fastq.gz
annotations/
work/
QC/
SAMs/
calls/
assemblies/
reads/
trimmed_reads/
pytors/
.nextflow*
*.log
*.save
nxf-tmp*
new_template_main.nf
